
<!DOCTYPE html>
<html>
<head>
<title>Share</title>
</head>
<body background="heartgreen.png">


<h1>Share Your Outfit & Earn Points </h1>


<button type="button" class="btn btn-primary btn-lg btn-block">Upload Photo</button>



</body>
</html>
