
<!DOCTYPE html>
<html>
<head>
<title>Share</title>
</head>
<body background="heartgreen.png">


<h1>Share Your Outfit & Earn Points </h1>


<%= link_to 'Share and Upload', stores_path, class: 'btn btn-primary btn-lg btn-block' %>


</body>
</html>
