
<!DOCTYPE html>
<html>
<head>
<title>StyleUpper</title>
</head>
<body>

<body background="heartgreen.png">

  <div class="jumbotron">
    <h1 class="display-3">StyleUpper</h1>
    <p>Style without breaking the bank.</p>
    <p><a class="btn btn-primary btn-lg" href="/about">Learn more</a></p>
  </div>
</body>
</html>
