
<!DOCTYPE html>
<html>
<head>
<title>StyleUpper</title>
</head>
<body >


<h1> FAQs</h1>
  <table class="table table-striped table-hover table-bordered" >
  <thead class="thead-dark">

  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td> How do you verify a photo was taken at the store the customer says the picture of a piece was from?
      </td>

    </tr>
    <tr>
      <td>2</td>
      <td>Why is a consignment store in my area not listed on the website?</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Can you use your points at any consignment that is not in your local area?</td>

    </tr>
    <tr>
      <td>4</td>
      <td> What if an outfit I got from a store was verified but later I find out the piece was not actually that great?</td>

    </tr>


  </tbody>
</table>
</body>
</html>
