
<!DOCTYPE html>
<html>
<head>
<title>StyleUpper</title>
</head>
<body>

<body background="heartgreen.png">

  <div class="jumbotron">
    <h1 class="display-3">StyleUpper</h1>
    <p>2 self-described independent-minded, fashionistas who love to find unique pieces to add to our each's evolving styles -- without a heavy price tag. We look to make our styles unique and find that thrift stores and consignment shops allow one to find one-of-a-kind pieces that can make our outfits start the trend! We want this page to allow you to find a community of independent, fashion-minded people who know and share about the great pieces they find in their communities. </p>

  </div>
</body>
</html>
